.hero12{
    /* background-color: rgb(218, 218, 101); */
    height: 105vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      
}
.pic12{
    /* background-color: cyan; */
    height: 90%;
    width: 45%;
}
.text12{
    /* background-color: crimson; */
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.heading12{
    /* background-color: aquamarine; */
    height: 15%;
    font-weight: 500;
    font-family: 'Abril Fatface';
    font-size: 40px;  
    display: flex;
    align-items: center;
}
.para121{
    /* background-color: rgb(97, 48, 58); */
    height: 20%;
    font-family: 'Mukta Mahee';
    font-size: 18px;
    font-weight: 200;
    color: rgb(108, 117, 125);
    line-height: 32px;
}
.para122{
    /* background-color: cornsilk; */
    height: 15%;
    font-family: 'Mukta Mahee';
    font-size: 18px;
    font-weight: 200;
    color: rgb(108, 117, 125);
    line-height: 32px;
}
.btn12{
    /* background-color: cadetblue; */
    height: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f0f0f0; */
}

.transparent-button {
    font-family: 'Mukta Mahee';
    letter-spacing: 3px;
    background-color: transparent;
    border: 2px solid #65C0BA; 
    color: black; /* Text color */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
    background-color: #65C0BA;
    color: white;
}
.pic12 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:600px) {
    .hero12{
        flex-direction: column;
        height: 200vh;
    }
    .text12{
       height: 90%;
       width: 90%;
       margin: 10px;
    }
    .pic12{
        width: 90%;
        margin: 10px;

    }
    .para121{
        height: 23%;
        margin: 0 0 20px 0;
    }
    .para122{
        padding:7px 0 20px 0;
    }
    
}
@media screen and (max-width:430px) {
    .pic12 img {
        height: 60%;
    }
    .pic12{
        height: 30%;
    }
    .text12{
        height:35vh;
    }
    .para122{
        padding: 45px 0 75px 0;
    }
    .para121{
        margin: 20px 0;
    }
}