.exp
{
    background-color: #fafafa;
    height: auto;
    width: 98vw;
}
.top{
    /* background-color: lightseagreen; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
}
.bottom{
    /* background-color: lightpink; */
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.heading1{
    /* background-color: crimson; */
    height: auto;
    padding: 12px 0;
    width: 90%;
    font-family: "Abril Fatface", serif;
     font-weight: 500;
     font-style: normal;
     font-size: 32px;  
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: black;
}
.paraa{
    /* background-color: darkgreen; */
    height: 65%;
    width: 53%;
    text-align: center;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgb(108, 117, 125);
}
.block
{
    margin-bottom: 40px;
    height: 260px;
    width: 345px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgb(108, 117, 125);
    text-align: center;
}




.img1{
    /* border: 2px solid red; */
background-image: url("../Media/logo1.png");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.img2{
    /* border: 2px solid red; */
background-image: url("../Media/2.svg");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.img3{
    /* border: 2px solid red; */
background-image: url("../Media/3.svg");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.img4{
    /* border: 2px solid red; */
background-image: url("../Media/4.svg");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.img5{
    /* border: 2px solid red; */
background-image: url("../Media/5.svg");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.img6{
    /* border: 2px solid red; */
background-image: url("../Media/6.svg");
    /* background-color: aquamarine; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    /* margin-top: 10%;
    margin-left: 10%; */
    margin: 20px auto;
    width: 30%;
    
}
.head1{
    /* background-color: crimson; */
    height: auto;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;  
    text-align: center;
    padding-bottom: 20px;
}
.paraaa{
    /* background-color: coral; */
    height: auto;
}
@media (max-width: 600px) {
    .bottom {
      height: auto; /* Let the height adjust based on content */
      /* background-color: cornflowerblue; */
    }
    .block {
       margin-bottom: 20px;
    }
    .heading1{
        font-size: 19px;

    }
    .paraa{
        width: 90%;
        font-size: 15px;
    }
  }
  