.blog{
    background-color: darkgoldenrod;
    height: 180vh;
    padding: 50px;
}
.blog-post{
    background-color: chartreuse;
    height: 35%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.card{
    background-color: blue;
    height: 65%;
}
.headingbp{
    background-color: darkorchid;
    height: 80px;
}
.parabp{
    background-color: antiquewhite;
    height: 70%;
}