.blog{
    background-color: #65C0BA;
    height: 160vh;
    padding: 50px;
    /* justify-content: center;
    display: flex;
    align-items: center; */
}
.blog-post{
    /* background-color: chartreuse; */
    height: 35%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.card{
    /* background-color: blue; */
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.headingbp{
    /* background-color: darkorchid; */
    height: 30%;
    font-family: "Abril Fatface", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parabp{
    /* background-color: rgb(252, 143, 0); */
    height: 70%;
    width: auto;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin: 0 200px;
}
.headingbp p {
    font-size: 1em;
}
.card1{
    /* background-color: crimson; */
    width: 365px;
    height: 500px;
    background-color: white;
}
.card2{
    /* background-color: darkcyan; */
    width: 365px;
    height: 500px;
    background-color: white;
}
.card3{
    /* background-color: darkgreen; */
    width: 365px;
    height: 500px;
    background-color: white;
}
.pic1{
    /* background-color: aqua; */
    height: 45%;
}
.pic1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.date1{
    /* background-color: blueviolet; */
    height: 10%;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: rgb(206, 212, 218);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 38px;
}
.head45{
    /* background-color: grey; */
    height: 15%;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    margin: 0 38px;
    line-height: 31px;
}
.para45{
    /* background-color: rgb(0, 128, 255); */
    height: 25%;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: rgb(108, 117, 125);
    line-height: 32px;
    margin: 0 38px;
    /* display: flex;
    align-items: center; */
}
@media screen and (max-width:600px) {
    .headingbp{
        font-size: 50px;
    }
    .parabp{
        margin: 20px 0;
        font-size: 15px;
    }
    .blog{
        height: auto;
    }
    .blog-post{
        height: 8%;
    }
    .card{
        height: 68%;
    }
    .card1{
        margin: 0  auto;
        width: 100%;
    }
    .card2{
        margin: 35px auto;
        width: 100%;
    }
    .card3{
        margin: 0 auto;
        width: 100%;
    }
}