.destination{
    /* background-color: rgb(5, 255, 255); */
    height: 135vh;
    background-color: white;
}
.text98{
    /* background-color: fuchsia; */
    height: 45%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    flex-direction: column;
}
.card98{
    /* background-color: rgb(232, 223, 142); */
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.heading98{
    /* background-color: darkred; */
    height: 20%;
    font-family: "Abril Fatface", serif; 
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para98{
    /* background-color: hotpink; */
    height: 40%;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgb(108, 117, 125);
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.c1{
    /* background-color: aquamarine; */
    height: 245px;
    width: 255px;
}
.pic98{
    height: 70%;
    /* background-color: darkgreen; */
    width: 100%;
}
.head98{
    /* background-color: firebrick; */
    height: 18%;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 
    display: flex;
    align-items: center;
}
.star98{
    /* background-color: mediumvioletred; */
    height: 12%;
    display: flex;
    justify-content: space-between;
}
.pic98 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.rew{
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 18px;
    color: rgb(204, 204, 204);
}

@media screen and (max-width:600px) {
    .para98{
        width: 78%;
        font-size: 15px;
    }
    .c1{
        height: 300px;
        width: 510px;
        margin: 10px;
    }
    .text98{
        height: 280px;
    }
    .destination{
        height: 350vh;
    }
    .card98{
        height: calc(100% - 350px);
    }
}