.hotelfeature{
    height: 130vh;
    /* background-color: darkgreen; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #E9ECEF;
}
.text0{
    height: 30%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card0{
    height: 50%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head0{
    /* background-color: cornsilk; */
    height: 30%;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.para0{
    /* background-color: darkmagenta; */
    height: 52%;
    width: 60%;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    color: rgb(108, 117, 125);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.card01{
    background-color: white;
    /* background-color: aqua; */
    height: 90%;
    width: 30%;
}
.img0{
    /* background-color: darksalmon; */
    height: 70%;
}
.head00{
    /* background-color: darkgreen; */
    height: 30%;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    line-height: 31px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}
.head00:hover {
    color: rgb(101, 192, 186);
}
.img0 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:600px) {
    .card0{
        flex-direction: column;
        height: 400vh;
    }
    .hotelfeature{
        height: 350vh;
    }
    .card01{
        width: 90%;
        margin: 20px;
    }
    .para0{
        font-size: 16px;
        padding-top: 0;
        width: 90%;
    }
    .head0{
        font-size: 50px;
    }
}