.main15 {
    width: 98.7vw;
    position: relative;
    background-image: url(../Media/s9.webp);
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .main15::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 1; 
  }
  
  .main15 > * {
    position: relative;
  }
  @media screen and (max-width:600px) {
    .main15{
      width: 100vw;
    }
  }
  