body {
    background: url(../Media/ny.jpg);
    height: 100%;
    width: 100%;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 83, 83, 0.15); /* White color with 70% opacity */
  }
  
  .mdl-layout__header-row .mdl-navigation__link {
    color: #fff;
  }
  
  .mdl-layout__header-row .mdl-navigation__link:hover {
    transition-duration: 0.5s;
    color: #000;
  }
  
  @media screen and (max-width: 870px) {
    .hide {
      display: none;
    }
  }
  
  @media screen and (min-width: 871px) {
    .show {
      display: none;
    }
    
    .mdl-layout__header .mdl-layout__drawer-button {
      display: none;
    }
  }
  
  .show a {
    text-align: center;
  }
  
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }
  
  .head {
    padding: 2.4% 0;
  }
  
  .mdl-layout__drawer-button {
    padding: 3%;
  }
  
  .mdl-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading1 {
    padding: 0.5%;
    color: white;
    font-family: "Abril Fatface", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
  }
  
  .mukta-mahee-extralight {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-size: 30px;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .transparent-button {
    background-color: transparent; /* Transparent background */
    border: 2px solid white; /* White border */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  
    /* Optional: Remove default button styles */
    outline: none; /* Remove outline */
    text-decoration: none; /* Remove underline */
    border-radius: 4px;
    font-family: "Mukta Mahee", sans-serif;
  }
  
  .transparent-button:hover {
    background-color: rgb(255, 255, 255); /* White background with 20% opacity on hover */
    color: black;
  }
  
  .btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  @media screen and (max-width: 849px) {
    .heading1 {
      font-size: 50px; /* Set a smaller font size for smaller screens */
      padding-top: 100px;
    }
  
    .mukta-mahee-extralight {
      font-size: 18px;
    }
  }
  