.main {
     /* background-color: brown; */
     height: 120vh;
     width: 98vw;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 10px;
}
.container{
     /* background-color: darkcyan; */
     height: 90%;
     width: 93%;
     display: flex;
     justify-content: space-between;
}
.left{
     /* background-color: chartreuse; */
     height: 100%;
     width: 48%;
     background-image: url(../Media/hero1.webp);
     background-size: cover;
     background-position: center
}
.right{
     /* background-color: darkturquoise; */
     height: 100%;
     width: 48%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.heading {
     /* background-color: cornflowerblue; */
     width: 100%;
     height: 10%;
     font-family: "Abril Fatface", serif;
     font-weight: 500;
     font-style: normal;
     font-size: 32px;  
}
.para1 {
     /* background-color: rgb(100, 237, 130); */
     width: 100%;
     height: 10%;
     font-family: "Mukta Mahee", sans-serif;
     font-weight: 200;
     font-style: normal;
     font-size: 18px;
     line-height: 32px;
     color: rgb(108, 117, 125);
}
.para2 {
     /* background-color: rgb(237, 100, 184); */
     width: 100%;
     height: 10%;
     font-family: "Mukta Mahee", sans-serif;
     font-weight: 200;
     font-style: normal;
     font-size: 18px;
     line-height: 32px;
     padding: 50px 0 62px 0;
     color: rgb(108, 117, 125);
}
.btn {
     /* background-color: rgb(100, 237, 237); */
     width: 100%;
     height: 10%;
     font-family: "Mukta Mahee", sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 18px;
     line-height: 32px;
     padding-top: 30px;
}
.play {
     border: 2px solid lightgray;
     padding: 10px 15px 10px 19px;
     border-radius: 50%;
}
.overlay {
     position: fixed; /* Fixed positioning to cover the entire screen */
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000; /* Ensures the overlay is on top */
   }
   
   .video-container {
     position: relative;
     width: 80%; /* Adjust as needed */
     height: 80%; /* Adjust as needed */
     background-color: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   
   .video-container iframe {
     width: 100%;
     height: 100%;
     border: none;
   }
@media (max-width:600px) {
     .container {
          flex-direction: column;
     }
     .left {
          width: 100%;
          height: 100%;
     }
     .right{
          width: 100%;
     }
     .main{
          height: 200vh;
     }
     .para2{
          padding-top: 65px;
     }
     .heading{
          padding-bottom: 55px;
     }
     .play{
          padding: 11px 15px 9px 18px;
     }

}

